*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
} 

body{
    background-color: black;
    color: rgb(244, 244, 244);
}