
main{
    width: 100%;
     @include flex-column();

    section{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom{
            width: 100%;
            background-color: $primary-back;
             @include flex-column(4rem);
            padding: 1.6rem;

            >p{
                font-size: 0.8rem;
                letter-spacing: 2px;
                font-weight: 600;
                font-family: $parafont;
            }

            .text{
                 @include flex-column(1rem);

                h1{
                    color: $primary-white;
                    font-family: $headingfont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 2.25rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    line-height: 1.2;
                    padding: 0rem 1rem 0rem 0rem;
                }

                p{
                    color: $primary-grey;
                    font-family: $parafont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 1.3rem;
                    line-height: 1.5;
                }

                button{
                    width: fit-content;
                    padding: 0.3rem 0.8rem;
                    border: none;
                    outline: none;
                    font-weight: 600;
                    border-radius: 5px;
                    color: rgb(31, 31, 31);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main{

        
        section{
            flex-direction: row;

            .top, .bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 4.5rem;

                .text{
                    gap: 0.9rem;

                    h1{
                        font-size: 4rem;
                    }

                    button{
                        padding:  0.4rem 1rem;
                    }
                }
            }
        }
    }
}